<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger{1} - %msg%n"/>
        </Console>
        <File name="File" fileName="target/logs/automation.log" append="false">
            <PatternLayout pattern="%d{ISO8601} %-5level [%t] %logger - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="org.example" level="info"/>
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
